.wrapper_all {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .boxInput {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 45px;
      color: #678efe;
    }
    .inputContent {
      width: 400px;
      display: flex;
      justify-content: space-around;

      input[type="text"] {
        border: 1px solid #cdd9ed;
        width: 270px;
        height: 40px;
        padding: 10px 20px;
        text-align: center;
        outline: none;
        color: #99a3ba;
        &::placeholder {
          color: #99a3ba;
        }
        &:focus {
          color: #99a3ba;
          border: 1px solid #678efe;
          border-color: #678efe;
        }
      }
      button {
        width: 100px;
        background-color: #eef4ef;
        border: 1px solid #cdd9ed;
        color: #99a3ba;
        &:hover {
          background-color: #678efe;
          color: #fff;
        }
      }
    }
  }
  .githubData_Box{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    .info_Github{
      width: 100%;
      .img_Box{
        width: 100%;;
      }
    }
  }
}
