.Home_githubData_Box{
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  .Home_info_Github2{
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: #cdd9ed 1px solid;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    .Home_img_Box{
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      img {
        width: 200px;
        border-radius: 100px;
        padding: 20px;
    }
    }
    .Home_infoBio{
      width: 700px;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #678efe;
      }
      .biodesc{
        width: 100%;
        color:#cdd9ed;
        margin: 0;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }
  }
  
}
