.wrapper_all {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .boxInput {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
      font-size: 45px;
      color: #678efe;
      @media (max-width: 414px){
        font-size: 35px;
      }
    }
    .inputContent {
      width: 400px;
      display: flex;
      justify-content: space-around;
      @media (max-width: 414px){
        width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
      }

      input[type="text"] {
        border: 1px solid #cdd9ed;
        width: 270px;
        height: 40px;
        padding: 10px 20px;
        text-align: center;
        outline: none;
        color: #99a3ba;
        caret-color: #678efe;
        &::placeholder {
          color: #99a3ba;
        }
        &:focus {
          color: #99a3ba;
          border: 1px solid #678efe;
          border-color: #678efe;
        }
        @media (max-width: 414px){
          width: 100%;
        }
      }
      button {
        width: 100px;
        background-color: #eef4ef;
        border: 1px solid #cdd9ed;
        color: #99a3ba;
        &:hover {
          background-color: #678efe;
          color: #fff;
        }
        @media (max-width: 414px){
          width: 100%;
          height: 40px;
          margin-top: 10px;
        }
      }
    }
  }
  .githubData_Box{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    @media (max-width: 414px){
      max-width: 370px;
    }
    .info_Github{
      width: 100%;
      display: flex;
      border-radius: 10px;
        border: #cdd9ed 1px solid;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 -1px 10px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
        margin-bottom: 10px;
        @media (max-width: 414px){
          flex-wrap: wrap;
          
        }
      .img_Box{
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        @media (max-width: 414px){
          // text-align: center;
          width: 100%;
          justify-content: center;
        }
        img{
          width: 200px;
          border-radius: 100px;
          padding: 20px;
          
        }
        
      }
      .infoBio{
        width: 700px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        .title{
          width: 100%;
          display: flex;
          flex-direction: column;
          color: #678efe;
        }
        .biodesc{
          width: 100%;
          color:#cdd9ed;
          margin: 0;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 30px;
          padding-bottom: 20px;
        }
      }
    }
    .projectsBox{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin-bottom: 10px;
      @media (max-width: 414px){
        flex-wrap: nowrap;
        overflow: auto;
      }
      .projectBox{
        width: calc(25% - 14px);
        border: #cdd9ed 1px solid;
        margin: 10px 7px;
        height: 100%;
        border-radius: 5px;
        @media (max-width: 414px){
         width: calc(50%);;
        }
        .borderLeft{
          height: 101px;
          width: 10px;
          position: absolute;
          border-radius: 5px 0 0 5px;
          @media (max-width: 414px){
            position: inherit;
          }
         
        }
       
        .info_box{
        padding: 0 0 0 20px;
        @media (max-width: 414px){
          width: 111px;
          height: 150px;
          font-size: 15px;
        }
        }
      }
    }
  }
}
